/* ************************** rootlayout ****************************************** */

.full-page {
    width: 100vw;
    height: 100vh;
   background-color:black; 
}

/* ************************** homelayout ****************************************** */
.homelayout{
    min-height:85vh;
    overflow: scroll;
    
}
/* ************************** challenge post ****************************************** */
.post-container{
    max-width:900px;
    gap:30px;
    min-height:100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    background-color:#1b34a6
    
}
.description {

    padding: 10px;
    font-size: 13px;
    font-weight: 200;
    color: black;
    width: 100%;
}
.postholder {
    width: 100%;
    min-height: 50%;
    background-color: rgb(87, 126, 126);
    border-radius: 15px;
}
.post-size {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    background-color: rgb(87, 126, 126);
}
.postfooter{
    width: 100%;
    height: 70px;
    background-color: rgb(40, 40, 28);
    border-radius: 20px;
}
.postfooter button {
  font-size: 20px;
  cursor: pointer;
}
.submit{
    background-color: green;
    width: 30%;
    height: 45px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
}

/* ************************** homepage ****************************************** */


.homepage {
    width: 100%;
    min-height:100%;
    display: flex;
    justify-content: start;
  
    /* border: 6px solid black; */
    /* background-color:#eaeaea;   */
}


/* ************************** challenges ****************************************** */
.ch-page {
    background-color: black;
    min-height:100%;
    min-width: 100%;
}
.challenges {
    background-color:#1f1e15;
    min-height:600px;
    min-width:350px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;

}

/* ************************** top challenges ****************************************** */

.top-ch {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
}


.customSelect {
    :global {
      .ant-select-selection {
        max-height: 51px;
        overflow: auto;
      }
    }
  }